html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Inter';
  font-size: 16px;
}
 
/* The side navigation menu */
.sidebar {
  margin: 0;
  width: 250px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0px;
}
  
/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
  
/* Active/current link */
.sidebar a.active {
  background-color: #ff3860;
  color: white;
}
  
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #ff385f;
  color: white;
}
  
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
main {
  align-items: left;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: calc(100% - 300px);
  margin-left: 250px;
  padding: 0px 20px;
}

main h1 {
  padding-bottom: 20px;
}

main > div {
  margin-bottom: 20px;
}

.top-link {
  margin-left: auto; 
  margin-right: 0;
}

/* Index Site settings*/

.image {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.image > img {
  position: center;
  width: 20%; height: auto;
}

.image > p {
  color: #414141;
  padding-top: 5px; 
  transform: translateX(10%);
  width: auto;
}

.image a {
  color: #212121;
}

/* Announcement Site settings*/

.list-box {
  border: solid 3px #ff3860;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 10px;
  padding-bottom: 5px; /* Each element has 5px bottom margin */
  width: 50vw; 
  max-width: 600px;
}

.list-box h2 {
  margin-top: 5px;
  font-weight: bold;
  text-align: left;
}

.list-box > .subject {
  margin-bottom: 15px;
}

.list-box > * {
  margin-bottom: 5px;
}

ul > .list-box {
  list-style: none;
}

.bold-text {
  font-weight: bold;
}

/*
#bottom-arrow {
  background-image: url(./images/top.svg);
  bottom: 50px; right: 50px;
  cursor: pointer;
  display: block;
  height: 70px; width: 70px; 
  position: fixed;
  transition: .5s;
}
*/

/* Contact Site settings*/

#communication-container {
  margin-top: 0%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  height: 80vh; width: 100%;
  justify-content: space-evenly;

}

.contact-box {
  border: solid 3px #ff3860;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 10px;
  padding-bottom: 5px; /* Each element has 5px bottom margin */
  width: 50vw; 
  max-width: 600px;
}

.contact-box h2 {
  margin-top: 5px;
  font-weight: bold;
  text-align: left;
}

.contact-box > * {
  margin-bottom: 25px;
}